<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <title>Caring for Cancer</title>

    <link rel="stylesheet" href="about.css">
</head>

<body>
    <div class="container">

        <header>
            <nav>
                <ul>
                    <img src="/images/logo3.png" class="logo">

                    <li><a href="/">HOME</a></li>
                    <li><a href="/login">COMMUNITY</a></li>
                    <li><a href="/events">EVENTS</a></li>
                </ul>

                <a href="/login" id="login">LOGIN</a>
                <a href="/signup" id="signup">SIGN UP</a>

            </nav>

            <main>
                <img src="/images/about.png" class="about">

                <img src="/images/about.gif" class="about2">

    </div>

    <section id="bio">
        <h1>Community Is Stronger Than Cancer</h1>
        <i id="heartPara" class="fa fa-heart fa-2x" aria-hidden="true"></i>
        <br><br>
        <p>Here at <i>Caring for Cancer</i>, we provide our programs of support into the communities that we serve.
            <i>Caring for Cancer</i> serves all individuals affected by cancer including patients, survivors,
            caregivers, family, and friends. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem
            perspiciatis, sed inventore facere voluptatem commodi sequi sunt officia nisi perferendis animi aliquid quae
            dolorum, aspernatur aliquam exercitationem eius minus esse! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Cumque ducimus neque eius nesciunt itaque quam molestias culpa debitis, hic iste aperiam
            iusto eligendi suscipit consequatur rem, deserunt doloribus, expedita non. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Suscipit modi molestias illo atque nisi labore reiciendis ad totam obcaecati
            veritatis ea, asperiores necessitatibus nostrum quidem voluptatem omnis officia doloribus laudantium?</p>
    </section>

    <footer>
        <section class="social">
            <a href="https://twitter.com/gabrielledaryl" class="fa fa-twitter fa-2x"></a>
            <a href="https://www.linkedin.com/in/gabriellesmallwood/" class="fa fa-linkedin fa-2x"></a>
        </section>

        <section class="sitemap">
            <h4><a href="/events">EVENTS</h4></a>

            <h4><a href="/about">ABOUT</h4></a>

            <span class="address"><i class="fa fa-location-arrow" aria-hidden="true"></i><strong> 1900 Market
                    St, Philadelphia, PA 19103</strong></span>
            <span class="number"><i class="fa fa-phone" aria-hidden="true"></i><strong> (267) 555
                    5555</strong></span>
            <span class="email"><i class="fa fa-envelope" aria-hidden="true"></i><strong>
                    info@cforc.com</strong></span>

        </section>

        <p class="ein">Gabrielle Smallwood - Demo Day (December 2, 2021)</p>
        <img src="/images/logo2.png" class="logo2">
    </footer>

    <script src="https://kit.fontawesome.com/c0e668a8ad.js" crossorigin="anonymous"></script>

    <script src="/public/main.js"></script>

</body>

</html>