<!doctype html>
<html>

<head>
    <title>Caring for Cancer</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="events.css">
</head>

<body>
    <div class="container">

        <header>
            <nav>
                <ul>
                    <img src="/images/logo3.png" class="logo">

                    <li><a href="/">HOME</a></li>
                    <li><a href="/login">COMMUNITY</a></li>
                    <li><a href="/about">ABOUT</a></li>
                </ul>

                <a href="/login" id="login">LOGIN</a>
                <a href="/signup" id="signup">SIGN UP</a>

            </nav>
        </header>

        <main>
            <img src="/images/program.png" class="program">

            <h2>All programs and events provided by Caring for Cancer are provided free of charge.</h2>
            <h5>Please login before clicking the "I'm attending!" button.</h5>

            <section id="december">
                <div class="toydrive">
                    <img src="/images/Toy.png" height="300px" width="300px">
                    <span><strong>PHL / BOS</strong></span>
                    <i class="fa fa-clock-o" aria-hidden="true"> 12:00 PM - 4:00 PM </i>
                    <h3><strong>Toy Drive</strong></h3>
                    <p>Help give a happy holiday to families in need with <strong>C4C's Toy Drive</strong>!</p>
                    <br>
                    <a href="/form" id="attending">I'M ATTENDING!</a>
                </div>

                <div class="meditation">
                    <img src="/images/Meditation.png" height="300px" width="300px">
                    <span><strong>VIRTUAL</strong></span>
                    <i class="fa fa-clock-o" aria-hidden="true"> 8:30 AM - 8:45 AM </i>
                    <h3><strong>Monday Meditation</strong></h3>
                    <p>Start your week with a foundation of gratitude, compassion, presence, and acceptance.</p>
                    <br>
                    <a href="/form" id="attending">I'M ATTENDING!</a>
                </div>

                <div class="meeting">
                    <img src="/images/Meeting.png" height="300px" width="300px">
                    <span><strong>VIRTUAL</strong></span>
                    <i class="fa fa-clock-o" aria-hidden="true"> 6:45 PM - 8:00 PM </i>
                    <h3><strong>Virtual Meeting</strong></h3>
                    <p>Join us (on Zoom) for our meeting.<strong><br> Open discussion!</strong></p>
                    <br>
                    <a href="/form" id="attending">I'M ATTENDING!</a>
                </div>

                <div class="kidTeen">
                    <img src="/images/Kid_Teen.png" height="300px" width="300px">
                    <span><strong>PHL / BOS</strong></span>
                    <i class="fa fa-clock-o" aria-hidden="true"> 6:00 PM - 8:00 PM </i>
                    <h3><strong>Kid/Teen Support</strong></h3>
                    <p><strong>Free</strong> peer support groups for kids ages 4-17. We are planning the groups to be in person.</p>
                    <br>
                    <a href="/form" id="attending">I'M ATTENDING!</a>
                </div>

                <div class="christmas">
                    <img src="/images/Dinner.png" height="300px" width="300px">
                    <span><strong>PHILADELPHIA</strong></span>
                    <i class="fa fa-clock-o" aria-hidden="true"> 6:00 PM - 9:00 PM </i>
                    <h3><strong>Christmas Dinner</strong></h3>
                    <p>Celebrate with C4C at our annual Christmas (in-person) dinner! <strong>Limited spots available.</strong></p>
                    <br>
                    <a href="/form" id="attending">I'M ATTENDING!</a>
                </div>

                <div class="stories">
                    <img src="/images/Stories.png" height="300px" width="300px">
                    <span><strong>PHL / BOS</strong></span>
                    <i class="fa fa-clock-o" aria-hidden="true"> 11:00 AM - 1:00 PM </i>
                    <h3><strong>Stories with Santa</strong></h3>
                    <p>Come be a part of something special: <strong>Stories with Santa</strong> at our city's Children's Hospital.</p>
                    <br>
                    <a href="/form" id="attending">I'M ATTENDING!</a>
                </div>

                <div class="cooking">
                    <img src="/images/Cooking.png" height="300px" width="300px">
                    <span><strong>VIRTUAL</strong></span>
                    <i class="fa fa-clock-o" aria-hidden="true"> 9:30 AM - 11:00 AM </i>
                    <h3><strong>Cooking Demo</strong></h3>
                    <p><strong>Lets brunch!</strong> Come join us in the virtual kitchen for a plant based cooking demo.</p>
                    <br>
                    <a href="/form" id="attending">I'M ATTENDING!</a>
                </div>

                <div class="meeting2">
                    <img src="/images/Meeting2.png" height="300px" width="300px">
                    <span><strong>VIRTUAL</strong></span>
                    <i class="fa fa-clock-o" aria-hidden="true"> 6:45 PM - 8:00 PM </i>
                    <h3><strong>Virtual Meeting</strong></h3>
                    <p>Join us (on Zoom) for our meeting.<strong><br> Open discussion!</strong></p>
                    <br>
                    <a href="/form" id="attending">I'M ATTENDING!</a>
                </div>
            </section>
        </main>

            <footer>
                <section class="social">
                    <a href="https://twitter.com/gabrielledaryl" class="fa fa-twitter fa-2x"></a>
                    <a href="https://www.linkedin.com/in/gabriellesmallwood/" class="fa fa-linkedin fa-2x"></a>
                </section>
    
                <section class="sitemap">
                    <h4><a href="/events">EVENTS</h4></a>
    
                    <h4><a href="/about">ABOUT</h4></a>
    
                    <span class="address"><i class="fa fa-location-arrow" aria-hidden="true"></i><strong> 1900 Market St, Philadelphia, PA 19103</strong></span>
                    <span class="number"><i class="fa fa-phone" aria-hidden="true"></i><strong> (267) 555 5555</strong></span>
                    <span class="email"><i class="fa fa-envelope" aria-hidden="true"></i><strong> info@cforc.com</strong></span>
    
                    </section>
    
                    <p class="ein">Gabrielle Smallwood - Demo Day (December 2, 2021)</p>
                    <img src="/images/logo2.png" class="logo2">
            </footer>
    

            <script src="https://kit.fontawesome.com/c0e668a8ad.js" crossorigin="anonymous"></script>

            <script src="/public/main.js"></script>

</body>

</html>
