<!doctype html>
<html>

<head>
    <title>Caring for Cancer</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="form.css">
</head>

<body>
    <div class="container">

        <header>
            <nav>
                <ul>
                    <img src="/images/logo3.png" class="logo">

                    <li><a href="/">HOME</a></li>
                    <li><a href="/profile">PROFILE</a></li>
                    <li><a href="/community">COMMUNITY</a></li>
                    <li><a href="/about">ABOUT</a></li>
                </ul>

                <a href="/logout" id="logout">LOG OUT</a>

            </nav>
        </header>

        <main>
            <img src="/images/form.png" class="form">

            <h3>Please provide the following information for event registration:</h3>

            <form method="POST" action="/register">
                <section id="form">
                    <h2>Name</h2>
                    <input type="text" class="name2" value="<%= user.local.email %>" name="user">
                    <h2>Email</h2>
                    <input type="text" class="email2" name="email" placeholder="Email address">
                    <h2 class="quantity">How many are attending?</h2>
                    <input type="number" class="quantity2" placeholder="Attendees" name="quantity">
                    <h2 class="event">Select an event:</h2>
                    <select name="event">
                        <option value="Toy Drive (12/4)" name="toyDrive">Toy Drive</option>
                        <option value="Monday Meditation (12/6)" name="meditation">Monday Meditation</option>
                        <option value="Virtual Meeting (12/8)" name="meeting-one">Virtual Meeting (12/8)</option>
                        <option value="Kid/Teen Support (12/14)" name="kidTeen">Kid/Teen Support</option>
                        <option value="Christmas Dinner (12/18)" name="Chrismas Dinner">Christmas Dinner</option>
                        <option value="Stories with Santa (12/19)" name="storiesSanta">Stories with Santa</option>
                        <option value="Cooking Demo (12/28)" name="cookingDemo">Cooking Demo</option>
                        <option value="Virtual Meeting (12/30)" name="meeting-two">Virtual Meeting (12/30)</option>
                    </select>

                    <button class="register">✓ Register</button>
                    <h4 id="success"></h4> 
                </section>
            </form>

            <footer>
                <section class="social">
                    <a href="https://twitter.com/gabrielledaryl" class="fa fa-twitter fa-2x"></a>
                    <a href="https://www.linkedin.com/in/gabriellesmallwood/" class="fa fa-linkedin fa-2x"></a>
                </section>

                <section class="sitemap">
                    <h4><a href="/events">EVENTS</h4></a>

                    <h4><a href="/about">ABOUT</h4></a>

                    <span class="address"><i class="fa fa-location-arrow" aria-hidden="true"></i><strong> 1900 Market
                            St, Philadelphia, PA 19103</strong></span>
                    <span class="number"><i class="fa fa-phone" aria-hidden="true"></i><strong> (267) 555
                            5555</strong></span>
                    <span class="email"><i class="fa fa-envelope" aria-hidden="true"></i><strong>
                            info@cforc.com</strong></span>

                </section>

                <p class="ein">Gabrielle Smallwood - Demo Day (December 2, 2021)</p>
                <img src="/images/logo2.png" class="logo2">
            </footer>

            <script src="https://kit.fontawesome.com/c0e668a8ad.js" crossorigin="anonymous"></script>

            <script src="main.js"></script>

</body>

</html>