<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <title>Caring for Cancer</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>

        <nav>
            <ul>
                <li><a href="">HOME</a></li>
                <li><a href="/events">EVENTS</a></li>
                <li><a href="/login">COMMUNITY</a></li>
                <li><a href="/about">ABOUT</a></li>
            </ul>

            <a href="/login" id="login">LOGIN</a>
            <a href="/signup" id="signup">SIGN UP</a>

            <img src="/images/logo.png" class="logo">

            <h1>WELCOME TO OUR SAFE SPACE</h1>
            <p><strong>C4C</strong> welcomes all affected by cancer—<i>the diagnosed and their loved ones</i>—empowering those through programs
                of support, wellbeing and <strong>hope.</strong></p>

            <a href="https://www.paypal.com/donate/?cmd=_s-xclick&hosted_button_id=H465AWMUDM2LC&source=url" id="donate">DONATE HERE</a>
           
    </header>


    <main>
        <section class="offer">
            <h2>WHAT WE OFFER</h2>

            <img src="images/support.png">
            <span>Short</span>
            <img src="images/social.png">
            <span>Short</span>
            <img src="images/financial.png">
            <span>Short</span>

        </section>

        <section class="discussion">
            <h2>DISCUSSION POSTS</h2>

            <div class="firstquestion">
                <h3>Best wigs?</h3>
                <p>My sister (54f) was recently diagnosed with stage 4 ovarian cancer. She had her first chemo treatment
                    on Friday. My stylist already agreed to styling and cutting her wig when she gets it. Whoever my
                    sister is working with is saying the wig will be $400 for a synthetic one. Is this about right for a
                    wig?</p>


                <span>Posted 2 hours ago by @denise_c</span>
            </div>

            <div class="secondquestion">
                <h3>Recommended coloring book during your days of chemo.</h3>
                <p>Got this for a friend and will be fun to see which one she is going to color first! Full of positive
                    messages, but not always PG. You definitely don't want the kids helping with the coloring in this
                    one!</p>
                <img src="images/coloringbook.jpg">
                <span>Posted 3 hours ago by @nick90210</span>
            </div>
        </section>

        <a href="/login" class="viewmore">VIEW MORE</a>

        <!-- CREDIT TO: https://codepen.io/flatpixels/pen/qQParK -->
        <section id="slideshow">
            <h2>WE ARE HERE FOR YOU!</h2>

        <div class="card">
  
            <div class="card_part card_part-one">
            </div>
            
            <div class="card_part card_part-two">
            </div>
          
            <div class="card_part card_part-three">
            </div>
          
            <div class="card_part card_part-four">
            </div>

            <div class="card_part card_part-five">
            </div>
          
            <div class="card_part card_part-six">
            </div>
          
          </div>
        </section>

        <footer>
            <section class="social">
                <a href="https://twitter.com/gabrielledaryl" class="fa fa-twitter fa-2x"></a>
                <a href="https://www.linkedin.com/in/gabriellesmallwood/" class="fa fa-linkedin fa-2x"></a>
            </section>

            <section class="sitemap">
                <h4><a href="/events">EVENTS</h4></a>

                <h4><a href="https://www.paypal.com/donate/?cmd=_s-xclick&hosted_button_id=H465AWMUDM2LC&source=url">DONATE</h4></a>

                <span class="address"><i class="fa fa-location-arrow" aria-hidden="true"></i><strong> 1900 Market St, Philadelphia, PA 19103</strong></span>
                <span class="number"><i class="fa fa-phone" aria-hidden="true"></i><strong> (267) 555 5555</strong></span>
                <span class="email"><i class="fa fa-envelope" aria-hidden="true"></i><strong> info@cforc.com</strong></span>

                </section>

                <p class="ein">Gabrielle Smallwood - Demo Day (December 2, 2021)</p>
                <img src="/images/logo2.png" class="logo2">
        </footer>


        <script type="text/javascript" src="main.js"></script>
</body>

</html>