<!doctype html>
<html>

<head>
    <title>Caring for Cancer</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="profile.css">
</head>

<body>
    <div class="container">

        <header>
            <nav>
                <ul>
                    <img src="/images/logo3.png" class="logo">

                    <li><a href="/">HOME</a></li>
                    <li><a href="/events">EVENTS</a></li>
                    <li><a href="/community">COMMUNITY</a></li>
                    <li><a href="/about">ABOUT</a></li>
                </ul>

                <a href="/logout" id="logout">LOG OUT</a>
            </nav>
        </header>
    </div>

            <main>
                <img src="/images/profile.png" class="profile">

                <h1>Welcome, friend!</h1>
                <i id="heartPara" class="fa fa-heart fa-2x" aria-hidden="true"></i>
                <br><br>
                <h2>We're taking on your journey, <i class="together">together</i>.</h2><br><br><br>
                <span>_______________________________________________________________________________________________</span>
                <h3>IMPORTANT INFORMATION:</h3>

                <div class="option">
                <a href="https://www.cancersupportcommunity.org/sites/default/files/fsac/coping_with_side_effects.pdf" id="diagnosed">FOR YOURSELF</a>
                <a href="https://www.cancersupportcommunity.org/sites/default/files/fsac/Caregivers.pdf" id="lovedOne">AS A LOVED ONE</a>
                

                <p>Helps people learn about cancer treatments and manage the potential physical side effects from treatment, as well as the emotional burden.</p>
                <p class="second">For loved ones and caregivers: shares information about finding support and resources, practical concerns, and finding balance and hope.</p>
                </div>
            </main>

            <hr>

                <!-- <span><i>“Stand in your light and shine brightly because that is how you defeat darkness.”</i> — Leslie Esperanza Espaillat</span> -->

            


    <!-- <footer>
        <section class="social">
            <a href="https://twitter.com/gabrielledaryl" class="fa fa-twitter fa-2x"></a>
            <a href="https://www.linkedin.com/in/gabriellesmallwood/" class="fa fa-linkedin fa-2x"></a>
        </section>

        <section class="sitemap">
            <h4><a href="/events">EVENTS</h4></a>

            <h4><a href="/about">ABOUT</h4></a>

            <span class="address"><i class="fa fa-location-arrow" aria-hidden="true"></i><strong> 1900 Market St, Philadelphia, PA 19103</strong></span>
            <span class="number"><i class="fa fa-phone" aria-hidden="true"></i><strong> (267) 555 5555</strong></span>
            <span class="email"><i class="fa fa-envelope" aria-hidden="true"></i><strong> info@cforc.com</strong></span>

            </section>

            <p class="ein">Gabrielle Smallwood - Demo Day (December 2, 2021)</p>
            <img src="/images/logo2.png" class="logo2">
    </footer> -->

    <script src="https://kit.fontawesome.com/c0e668a8ad.js" crossorigin="anonymous"></script>

    <script src="/public/main.js"></script>

</body>

</html>