/******************************************
/* BASE STYLES
/*******************************************/

body {
    color: #000;
    font-size: 12px;
    line-height: 1.4;
    font-family: Helvetica, Arial, sans-serif;
}

*{
    box-sizing: border-box;
  }

.clear {
   clear: both;
}

/******************************************
/* LAYOUT
/*******************************************/

body{
    background-color: rgb(244, 238, 222);
}

div.container{
    width: 100%;
}

header{
    height: 100px;
    background: rgb(4, 104, 101);
    margin-top: -1%; 
    margin-left: -1%;  
    margin-right: -1%;    
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

header img{
    float: left;
    margin-top: 0.5%;
    margin-left: -0.5%;
}

li{
    float: left;
    margin-left: 12%;
    margin-top: 3%;
    list-style: none;
    width: -2%;
}

li a{
    align-items: center;
    text-decoration: none;    
    color: white;
    font-size: 20px;
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 1px 1px 1px grey;

}

li a:hover {
    color: rgb(242, 232, 99);
}

#login, #logout{
    margin-right: 3%;
    margin-top: 2%;
    height: 30px;
    width: 9%;
    padding-top: 0.3%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(242, 232, 99);
    color: black;
    text-align: center;
    font-size: 15px;
    font-family: 'Fjalla One', sans-serif;
    float: right;
}

#login:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#logout:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#form{
	border: 5px solid black;
	border-radius: 10px;
	height: 450px;
	width: 400px;
    margin-left: 35%;
    margin-top: 3%;
    margin-bottom: 5%;
    background-color:rgba(242, 232, 99, 0.479);
    box-shadow: 5px 5px 4px black;
    padding-left: 3%;
}

h2{
    font-size: 17px;
    font-weight: 600;
    margin-left: 35%;
}

.quantity{
    margin-left: 13%;
}

h3{
    font-size: 20px;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
}

.event{
    margin-top: 5%;
    margin-left: 26%;
}

select{
    margin-left: 7%;
    height: 30px;
	width: 250px;
}

button{
    margin-top: 7%;
    height: 40px;
    width: 200px;
    background-color:rgb(4, 104, 101);
    font-size: 15px;
    font-weight: 700;
    border: 1px solid black;
    border-radius: 0%;
    color:white;
    margin-left: 16%;
    padding-top: 1%;
    text-align: center;
}

button:hover{
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.61);
}

.form{
    width: 102%;
    margin-left: -1%;
}

input[type='text'], input[type='number']{
	height: 30px;
	width: 250px;
    margin-left: 7%;
}

#success{
    text-align: center;
    font-size: 20px;
    margin-top: 5%;
    margin-left: -10%;
}

/* FOOTER: */

footer{
    height: 300px;
    background:rgb(242, 232, 99);
    margin-left: -1%;
    margin-right: -1%;
}

.social{
    margin-left: 4%;
    margin-top: 2%;
    float: left;
    color: rgb(4, 104, 101);
    size: 8px;
    padding-bottom: 2%;
}

.sitemap h4{
    margin-left: 4%;
    clear: both;
}

.sitemap h4 a{
    color: black;
}

.sitemap p{
    color: rgb(4, 104, 101);
    clear: both;
    font-size: 12px;
    font-weight: 700;
    margin-left: 4%;  
}

.sitemap > .name{
    float: right;
    margin-top: -12%;
    margin-right: 5%;
    color: rgb(4, 104, 101);
    font-size: 12px;
    font-weight: 700;
    height: 50px;
    width: 135px;
}

.address{
    float: right;
    margin-right: 4%;
    margin-top: -8%;
    color: rgb(4, 104, 101);
    font-size: 13px;
    font-weight: 400;
    height: 60px;
    width: 145px;

}

.number{
    float: right;
    margin-right: 4%;
    margin-top: -4.5%;
    color: rgb(4, 104, 101);
    font-size: 13px;
    font-weight: 400;
    height: 60px;
    width: 145px;

}

.email{
    float: right;
    margin-right: 4%;
    margin-top: -2%;
    color: rgb(4, 104, 101);
    font-size: 13px;
    font-weight: 400;
    height: 60px;
    width: 145px;

}

.ein{
    border-top: 1px solid white;
    color: rgb(4, 104, 101);
    font-size: 12px;
    font-weight: 700;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 1%;
    padding-top: 1%;
}

h4{
    font-family: 'Fjalla One', sans-serif;

}

.logo2{
    float: right;
    margin-top: -2.5%;
    margin-right: 4%;
}

/******************************************
/* ADDITIONAL LAYOUT
/*******************************************/

@media (min-width: 300px) and (max-width: 600px) {

    footer{
        display: none;
    }

    li a{
        font-size: 12px;
    }

    #logout{
        font-size: 12px;
        margin-left: -5%;
        background: none;
        border: none;
        color: rgb(242, 232, 99);
    }

    body, main, header, .form{
        width: 100%;
    }

    h2{
        font-size: 18px;
    }

    #form{
        width: 80%;
        margin-left: 10%;
    }
}
           
    @media (min-width: 601px) and (max-width: 1024px) {
       
        footer{
            display: none;
        }
    
        li a{
            font-size: 12px;
        }
    
        #logout{
            font-size: 12px;
            margin-left: -5%;
            background: none;
            border: none;
            color: rgb(242, 232, 99);
        }
    
        body, main, header, .form{
            width: 100%;
        }
    
        h2{
            font-size: 18px;
        }
    
        #form{
            margin-left: 26%;
        }
    }