/******************************************
/* BASE STYLES
/*******************************************/

body {
    color: #000;
    font-size: 12px;
    line-height: 1.4;
    font-family: Helvetica, Arial, sans-serif;
}

*{
    box-sizing: border-box;
  }

.clear {
   clear: both;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  background-image: url('/images/wallpaper.png');
  background-size: 100%;
  color: white;
}

.logo3{
  margin-top: 3%;
  margin-left: 32%;
}

a{
  color: rgb(242, 232, 99);
}

a:hover{
  color: black;
}

h1{
  font-family: 'Fjalla One', sans-serif;
}

.btn{
  background-color: rgb(242, 232, 99);
  font-family: 'Fjalla One', sans-serif;
  border: none;
  color: black;
}

.btn:hover{
  background-color: whitesmoke;
  color: rgb(4, 104, 101);
}

.form-group{
  margin-top: -2%;
}

.container{
  border: 5px solid black;
	border-radius: 10px;
	height: 600px;
	width: 800px;
  margin-left: 35%;
  margin-top: 3%;
  margin-bottom: 5%;
  background-color: rgb(4, 104, 101);
  box-shadow: 5px 5px 4px black;
  padding-left: 3%;
}

/******************************************
/* ADDITIONAL LAYOUT
/*******************************************/

@media (min-width: 300px) and (max-width: 600px) {

  body, .container{
    width: 80%;
    background-size: 100%;
  }
}

  
         
  @media (min-width: 601px) and (max-width: 1024px) {

  body, .container{
    width: 80%;
    background-size: 100%;
  }
}