/******************************************
/* BASE STYLES
/*******************************************/

body {
    color: #000;
    font-size: 12px;
    line-height: 1.4;
    font-family: Helvetica, Arial, sans-serif;
}

*{
    box-sizing: border-box;
  }

.clear {
   clear: both;
}

/******************************************
/* LAYOUT
/*******************************************/

body{
    background-color: rgb(244, 238, 222);
    width: 100%;
}

div.container{
    width: 100%;
}

header{
    height: 100px;
    background: rgb(4, 104, 101);
    margin-top: -1.5%; 
    margin-left: -1%;  
    margin-right: -1%;    
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

header img{
    float: left;
    margin-top: 1%;
    margin-left: -0.5%;
}

.postLogo{
    width: 102%;
    margin-left: -1%;
}

li{
    float: left;
    margin-left: 12%;
    margin-top: 3%;
    list-style: none;
    width: -2%;
}

li a{
    align-items: center;
    text-decoration: none;    
    color: white;
    font-size: 20px;
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 1px 1px 1px grey;

}

li a:hover {
    color: rgb(242, 232, 99);
}

#login, #logout{
    margin-right: 3%;
    margin-top: 2%;
    height: 30px;
    width: 9%;
    padding-top: 0.3%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(242, 232, 99);
    color: black;
    text-align: center;
    font-size: 15px;
    font-family: 'Fjalla One', sans-serif;
    float: right;
}

#login:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#logout:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

main{
    height: auto;
    margin-bottom: 5%;
}

.message{
    float: left;
    clear: both;
    height: 170px;
    width: 900px;
    border: 1px solid black;
    color: white;
    border-radius: 15px;
    margin-left: 15%;
    margin-top: 5%;
    background: rgb(4, 104, 101);
    box-shadow: 5px 5px 4px black;
    margin-bottom: 5%;
}

.title{
    float: left;
    font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 2%;
    margin-left: 3%;
}

.msg{
    float: left;
    clear: both;
    font-size: 15px;
    margin-top: 1%;
    margin-left: 3%;
}

.posted{
    float: right; 
    clear: both;
    font-size: 12px;
    margin-top: 3%;
    margin-right: 1%;
    color:rgb(242, 232, 99);
}

.submitComment{
    float: left;
    clear: both;
    margin-left: 25%;
}

button{
    margin-left: 40%;
    margin-top: 5%;
    background-color:rgb(242, 232, 99);
    font-size: 15px;
    font-family: 'Fjalla One', sans-serif;    
    border: 1px solid black;
    border-radius: 0%;
}
  
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.commentInput{
    border: 2px solid black;
    height: 200px;
    width: 300px;
    box-shadow: 3px 3px 3px black;
}

#comments{
    float: left;
    clear: both;
    height: 400px;
    width: 400px;
    border: 1px solid black;
    color: black;
    border-radius: 15px;
    margin-left: 53%;
    margin-top: -17%;
    margin-bottom: 4%;
    background: rgb(242, 232, 99);
    box-shadow: 5px 5px 4px black;
}

h3{
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}

.user{
    font-family: 'Fjalla One', sans-serif;
}

p{
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 1%;
}

.eachComment{
    padding-top: 3%;
}

.border-bottom{
    margin-top: -42%;
    margin-left: -1%;
}

/******************************************
/* ADDITIONAL LAYOUT
/*******************************************/

@media (min-width: 300px) and (max-width: 600px) {

    footer{
        display: none;
    }

    li a{
        font-size: 12px;
    }

    #logout{
        font-size: 12px;
        margin-left: -5%;
        background: none;
        border: none;
        color: rgb(242, 232, 99);
    }

    body, main, header, .community{
        width: 100%;
    }

    .discussionPosts, .message{
        width: 90%;
        margin-left: -1%;
    }

    .submitComment{
        margin-left: 25%;
    }

    #comments{
        margin-left: 7%;
    }

}
           
    @media (min-width: 601px) and (max-width: 1024px) {
       
        footer{
            display: none;
        }
    
        li a{
            font-size: 12px;
        }
    
        #logout{
            font-size: 12px;
            margin-left: -5%;
            background: none;
            border: none;
            color: rgb(242, 232, 99);
        }
    
        body, main, header, .community{
            width: 100%;
        }
    
        .discussionPosts, .message{
            width: 90%;
            margin-left: 1%;
        }

        #comments{
            margin-left: 30%;
        }
}