/******************************************
/* BASE STYLES
/*******************************************/

body {
    color: #000;
    font-size: 12px;
    line-height: 1.4;
    font-family: Helvetica, Arial, sans-serif;
}

*{
    box-sizing: border-box;
  }

.clear {
   clear: both;
}

/******************************************
/* LAYOUT
/*******************************************/

body{
    background-color: rgb(244, 238, 222);
    width: 100%;
}

main{
    width: 100%;
    border-bottom: 1px solid white;
    padding-bottom: 2%;
}

div.container{
    width: 100%;
}

header{
    height: 100px;
    background: rgb(4, 104, 101);
    margin-top: -1%; 
    margin-left: -1%;  
    margin-right: -1%;    
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

header img{
    float: left;
    margin-top: 0.5%;
    margin-left: -0.5%;
}

li{
    float: left;
    margin-left: 10%;
    margin-top: 3%;
    list-style: none;
    width: -2%;
}

li a{
    align-items: center;
    text-decoration: none;    
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 1px 1px 1px grey;

}

li a:hover {
    color: rgb(242, 232, 99);
}

#logout, #profile{
    margin-right: 3%;
    margin-top: 2%;
    height: 30px;
    width: 9%;
    padding-top: 0.3%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(242, 232, 99);
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    float: right;
}

#logout:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.profile{
    width: 100%;
}

.together{
    color:rgb(4, 104, 101);
    font-weight: 600;
}

h1{
    text-align: center;
    color:rgb(4, 104, 101);
    padding-bottom: 2%;
    font-weight: 600;
    margin-top: 3%;
    text-shadow: 2px 2px 2px black;
}

#heartPara{
    margin-left: 49%;
}

h2{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 1px 1px 1px black;
}

h3{
    margin-top: 5%;
    text-align: center;
    color: rgb(242, 232, 99);
    font-size: 30px;
    font-weight: 600;
    text-shadow: 2px 2px 2px black;
}

.option{
    margin-left: 15%;
    height: 300px;
    margin-top: 12%;
}

#diagnosed{
    border: 2px solid black;
    height:260px;
    width: 400px;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: -1%;
    background-image: url(/images/yourself.png);
    background-size:auto;
    background-repeat: no-repeat;
    color: black;
    font-size: 30px;
    font-weight: 600;
    box-shadow: 5px 5px 4px black;
    text-shadow: 1px 1px 1px black;

}

#lovedOne{
    border: 2px solid black;
    height:260px;
    width: 400px;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 3%;
    background-image: url(/images/lovedone.png);
    background-size:auto;
    background-repeat: no-repeat;
    color: white;
    font-size: 30px;
    font-weight: 600;
    box-shadow: 5px 5px 4px black;
}

p{
    width: 300px;
    text-align: center;
    margin-top: 12%;
    margin-left: 7%;
    font-weight: 600;
}

span{
    margin-top: 3%;
    margin-left: 28%;
}

.second{
    width: 300px;
    text-align: center;
    margin-top: -5.3%;
    margin-left: 50%;
    font-weight: 600;
}

/* span{
    border: 2px solid black;
    height: 200px;
    width: 400px;
    margin-top: 2%;
} */

/* FOOTER: */

/* footer{
    height: 300px;
    background:rgb(242, 232, 99);
    margin-left: -1%;
    margin-right: -1%;
}

.social{
    margin-left: 4%;
    margin-top: 2%;
    float: left;
    color: rgb(4, 104, 101);
    size: 8px;
    padding-bottom: 2%;
}

.sitemap h4{
    margin-left: 4%;
    clear: both;
}

.sitemap h4 a{
    color: black;
}

.sitemap p{
    color: rgb(4, 104, 101);
    clear: both;
    font-size: 12px;
    font-weight: 700;
    margin-left: 4%;  
}

.sitemap > .name{
    float: right;
    margin-top: -12%;
    margin-right: 5%;
    color: rgb(4, 104, 101);
    font-size: 12px;
    font-weight: 700;
    height: 50px;
    width: 135px;
}

.address{
    float: right;
    margin-right: 4%;
    margin-top: -8%;
    color: rgb(4, 104, 101);
    font-size: 13px;
    font-weight: 400;
    height: 60px;
    width: 145px;

}

.number{
    float: right;
    margin-right: 4%;
    margin-top: -4.5%;
    color: rgb(4, 104, 101);
    font-size: 13px;
    font-weight: 400;
    height: 60px;
    width: 145px;

}

.email{
    float: right;
    margin-right: 4%;
    margin-top: -2%;
    color: rgb(4, 104, 101);
    font-size: 13px;
    font-weight: 400;
    height: 60px;
    width: 145px;

}

.ein{
    border-top: 1px solid white;
    color: rgb(4, 104, 101);
    font-size: 12px;
    font-weight: 700;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 1%;
    padding-top: 1%;
}

.logo2{
    float: right;
    margin-top: -2.5%;
    margin-right: 4%;
} */